.title{
	padding: 0px;
	font-size: 22px;
	font-weight: bold;
}
.wrapped-item {
		padding-left: 20px;
		padding-right: 20px;
    height: 700px;
    width: 33%;
    float: left;
}
.list-block {
	display:  inline-block;
	width: 105%;
}
