/*List.css*/
.container-mid {
  margin-left: 5%;
  margin-right: 5%;
}
.middle-postblock {
  margin: 10px;
}

.middlepost-thumbnail{
	width: 350px;
}
.middlepost-titldesc{
	font-size: 14px;
	color:#495057;
	font-weight: 600;
}
.middlepost-titleitem{
	font-size: 24px;
	color:#495057;
	font-weight: 600;
	margin-bottom: 30px;
}
.middlepost-description{
	font-size: 14px;
}
.middle{
	padding-top: 40px;
}
.heserscroll-button{
	margin-bottom: 30px;
}
.middle-thumbnailholder{
	margin-bottom: 20px;
}
.middle-postblock{
	text-align: left;
	color:#495057;
	margin-bottom: 8 0px;
}
.middle-addelem{
	margin-top: 20px;
}
.load-element{
	height: 6px;
	width: 100px;
}
.middle-thumbnailholder img{

	max-width: 350px;
	/*height: 250px;*/
	width: 100%;
}
.more_button{
	background: url('../../../assets/images/Icon plus - more.svg');
	display: block;
	width: 20px;
	height: 20px;
}
