.vt2-calendar{
	padding: 5px;
	border: 1px solid black;
	border-radius: 6px;
	margin-bottom: 25px;
}

.vt2-calendar-img{
	height: 25px;
	width: 25px; 
	margin-right: 10px;
	margin-left: 10px;
}

.vt2-col{
	margin: 0px;
	padding: 0px;
	min-height: 150px;
}

.vt2-col:first-child {
	margin-left: 0px;
}
