.left_menu_items li{
	margin-left: 0px;
	margin-top: 10px;
	list-style-type: none;
}
.left-menuItem{

}
.left-menuUnit{
	font-weight: bold;
}
.left-menuUnit:hover{
	font-weight: bold;
	border-bottom-width:1px;
   border-bottom-color: gray;
   border-bottom-style: solid;
}
.left-subMenuUnit{
	margin-left: 15px;
}
.left-subMenuUnit:hover{
	margin-left: 15px;
	margin-top: 10px;
	list-style-type: none;
	border-bottom-width:1px;
   border-bottom-color:gray;
   border-bottom-style: solid;
}