.middle-postblock{
	margin: 0;
	margin-top: 30px;
}
.education-title {
	margin-left: 15px;
	width: 100%;
}
.education-title-name {
	float: left;
}
.education-title-tabs {
	float: left;
	padding-left: 30px;
	padding-top: 20px;
	width: 300px;
}
.tab-checked{
	border-bottom: 2px solid black;
	text-align: center;
}