.rightMenuitems{
	display: inline-block;
	text-align: center;
}
.rightMenuhoder{
	list-style: none;
	padding: 0;
}
.rightMenuunit{
	border: 1px solid #4e555b;
	border-radius: 50px;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin:4px 5px;
	line-height: 270%;
}
.Letters .rightMenuunit:focus{
	border:1px solid #a78ac0;
	color: #a78ac0;
	text-decoration: none;
}
.Letters .rightMenuunit:hover{
	text-decoration: none;
	color: #a78ac0;
	border:1px solid #a78ac0;
}
.rightMenuBlockOne{
	font-weight: bold;
}
.rightMenuunit{
	text-transform: uppercase;
	font-weight: 600;
}