.article_title{
	font-family: Portrait-Regular2;
	font-size: 48px;
}
.article_lead {
	font-family: SuisseBPIntl-Antique;
	font-size: 28px;
}
.article_img{
	max-width: 800px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.article_text {
	font-size: 18px;
}

.Article .right{
	margin-top: 400px;
}
