.calendar{
	border: 1px solid black;
	border-radius: 6px;
	margin-bottom: 25px;
}

.calendar-img{
	height: 25px;
	width: 25px; 
	margin-right: 10px;
	margin-left: 10px;
}

.calendar-content{
	padding: 5px;
}