.multimedia_thumbs{
	width: 100px;
	margin: 5px;
}

.multimedia_items{
	border-top: 1px solid #ADB0B3;
	padding: 5px;
}

.multimedia_items:last-child{
	border-top: 1px solid #ADB0B3;
	border-bottom: 1px solid #ADB0B3;
	padding: 5px;
}

.multimedia_item_date{
	padding-bottom: 100%;
}

.multimedia_item_title{
	padding-bottom: 100%;
}