/*a:hover{
	color: #A78AC0 !important;
}*/
.vt6 a:focus{
	color: #4a90e2;
}
.vt6.line{
	background-color: grey;
	display: block;
	height: 1px;
	width: 95%;
	float: right;
}

.vt6.artists_list li{
	margin-left: 40px;
	margin-top: 10px;
	list-style-type: none;
}
.vt6.artists-pageTitle{
	font-size: 48px;
}

.vt6.arists-alphabetblock{
	color: #adb0b3;
	text-transform: uppercase;
	font-weight: bold;
	float: left;
	line-height: 20%
}

.vt6.artistsAlphaberDescription{

}
.vt6.artistsAlphaberDescriptionItem:hover{
	color:#4a90e2;
}
.vt6.clearBoth{
	clear: both;
}
.vt6.arists-alphabetwrapper{
	padding-bottom: 3px;
}

/*.right{
	margin-top: 55px;
}*/
.vt6.ArtistsLettersMobile{
	display: none;
}
@media (max-width: 1000px) {
	.vt6.ArtistsLettersMobile{
		display: block;
		margin-bottom: 40px;
	}
	.vt6.ArtistsLettersDesktop{
		display: none;
	}
	.vt6.artists-TitleDesktop{
		display: none;
	}
}

@media (max-width: 500px) {
	.vt6.artists-pageTitle{
		font-size:36px;
	}
}