.vt1-calendar{
	padding: 5px;
	border: 1px solid black;
	border-radius: 6px;
	margin-bottom: 25px;
}

.vt1-calendar-img{
	height: 25px;
	width: 25px; 
	margin-right: 10px;
	margin-left: 10px;
}
.tab {
	padding-top: 20px;
}
.tab-checked{
	border-bottom: 1px solid black;
    text-align: center;
}