/*a:focus{
	color: #A78AC0;
}*/
.calendar-sortunit{
	display: inline-block;
	padding-right: 10px;
}

.calendar-sortHolder{
	padding: 0;
	list-style: none;
}
.calendar-timeset{
	border-top: 1px solid #ADB0B3;
	border-bottom: 1px solid #ADB0B3;
	margin-bottom: 15px;
	padding: 7px 0;
}
.calendarMzName{
	text-align: left;
	padding-left: 25%;
}
.calendarMzNameItem{
	/*text-align: left;*/
	font-size: 14px;
}
.calendarsubmenu{
	text-align: left;
	padding-left: 25%;
}
.calendarContTitle{
	padding-bottom: 5px;
	font-size: 12px;
	color: #868E96;
	font-weight: bold;
}
.calendarNameParticipant{
	font-weight: bold;
}
.participantBlock{
	padding-bottom: 5px;
}
.calendarParticipantWrapper{
	margin-bottom: 40px;
}
.calendarProgrammBox{
	font-size: 12px;
	text-transform: uppercase;
	color: #868E96;
	font-weight: bold;
}

.calendarParticipantExtendet{
	margin-bottom: 20px;
}
.calendarTimesetunit{
	font-size: 20px;
}
.calendarWeekDay{
	font-size: 14px;
}
.calendarMzTimeItem{
	font-weight: bold;
	font-size: 16px
}
.calendartakemorButton{
	margin-bottom: 20px;
}
.calendar-sortitem{
	text-decoration: underline;
	font-size: 14px;
}

.extendet-navigation1 {
	margin-left: 180px;
}

.calendarExtendetsort{
	font-weight: bold;
	padding-right: 10px;
	font-size: 14px;
}
.calendarOrderbox{
	font-size: 14px;
	font-weight: bold;
}
