.BreadCrumbs{
	padding-top: 0px;
	padding-bottom: 20px;
}
.breadcrumbs_path{
	margin-left: 15px;
}
.breadcrumbs_back{
	margin-left: 10px;
}
@media (max-width: 991px) {
	.BreadCrumbs{
		display: none;
	}
}