.header{
	width:100%;
	/*height: 820px;*/
	margin: 0px;
	/*background-color: black;*/
}
.gora {
  /*position: absolute;
	z-index: 99;
	/*margin-left: 7%;
	margin-top: -700px*/
	}
.karuzela {
	position: absolute;
	width: 100%;
}
/*.karuzela img{
	width: 100%;
	height: 820px !important;
}*/
.navfirst-elm{
	display: block !important;
	float: none !important;
	width: 99%!important;
}
.navel-item{
	border-bottom: 1px solid #fff;
	padding-right: 0px;
	width: 33%;
	box-sizing: border-box;
}

.navbar-default{
	border: none;
	background:none;
}

.navbar-default .navbar-nav > li > .navel-unit{
	/*font-size: 25px;*/
	font-size: 24px;
	color: #fff;
	padding-bottom: 5px;
	padding-top: 25px;

}

.header-extentnav-holder{
	list-style: none;
	padding: 0;
}
.header-extendetnav-item{
	display: inline-block !important;

}
.header-extentnav-wrapper{
	padding-top: 50px;
	text-align: right;
}
.extendet-navigation{
	display: inline-block;
	list-style: none;
	/*padding-right: 15px;*/
	/*background: url('../../assets/images/element_menu.png') scroll;*/
	background-repeat: no-repeat;
	background-size: cover;
	width: 35px;
	height: 35px;
	margin-left: 5px;

}
.slider-rightelm{
	float: right;
}
.slider-leftelm{
	float: left;
}
.slider-leftelmitem{
	width: 80px;
	height: 80px;
	background: url('../../assets/images/facebook.svg') scroll;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}
.slider-rightelmitem{
	width: 80px;
	height: 80px;
	/*background: url('../../assets/images/arrow_left.png') scroll;*/
	background-repeat: no-repeat;
	background-size: cover;
	float:left;
}

.rsc-slider-item-img img{
	width: 100%;
	height: 820px;
}

.headerinfo-block{
	color:#fff;
}
.headerinfo-title{
	font-size: 20px;
	font-weight: 600;
	color:#fff;
}
.headerinfo-content{
	font-weight: 400;
	font-size: 42px;
	font-style: italic;
	color:#fff;
	border-bottom: 1px solid #fff;
	display: inline-block;

}
.headerinfo-timeref{
	font-size: 16px;
	color:#fff;
}

.test-header{
	background-color: grey;
	color: white;
}

.header-sliderbox{

	position: absolute;
	/*
	margin-right: 50px;
	margin-left: 50px;*/
	width: 100%;
	height: 820px;
	margin: 0;
}

.rsc-container{
	width: 100%;
	height: 820px;
}

.rsc-slider{
 width: 100%;
 height: 820px;
}

.rsc-slider-item-img{
	width: 100%;
	height: 820px;
}

.slider-image{
	width: 820px;
}


.header-buttonscrl{
	width: 32px;
	height: 46px;
	/*background: url('../../src/images/arrow_right.png') scroll;*/
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
}

.Menu{
	padding-bottom: 44%;
	height: 0px;
}
