.videos.title {
	font-weight: 400;
 	font-size: 18px;
 	padding-top: 5px;
	padding-bottom: 5px;
}
.videos.item {
	margin-bottom: 5px;
	height: 120px;
}
.image {
		position: absolute;
    z-index: 1;

}
.multimedia_button {
	position: relative;
	height: 100%;
}
.mask {
	/*background: url('../../../assets/images/play_icon.png') no-repeat;*/
	position: absolute;
	background-color: rgba(115, 115, 115, 0.7);
	height: 100%;
	width: 100%;
  z-index: 2;
}

.image img {
	height: 120px;
	margin: auto;
}

.mask-img{
	margin: 0;
	top: 30%;
	left: 35%;
	position: absolute;
}
.mask img {
	height: 50px;
	width: 50px;
}
div.mask img { margin:0; padding: 0; }
