a:hover{
	/*color: #4E555B !important;*/
	text-decoration: none;
}
/*a:focus{
	color: #A78AC0;
}*/
.artist_img{
	max-width: 550px;
}
.artist_name{
	font-size: 40px;
	font-style: italic;
	font-weight: bold;
}
.artistItemBlock{
	margin-bottom: 20px;
}
.right_column_block{
	margin-top:200px;
}
.right_column_line{
	/*background-color: blue;*/
	width: 100%;
	border-bottom: 2px solid #A78AC0;
	margin-bottom: 20px;
}
.artist-contentWrapper{
	padding-right: 30px;
}
.rightMenuUnit{
	font-weight: bold;
	font-size: 20px;
}
.rightMenuItems{
	padding-bottom: 5px;
}
.rightMenuHolder{
	padding: 0;
	list-style: none;
}
.rightMenuExtendetBlock{
	font-size: 30px;
	margin-bottom: 20px;
	font-style: italic;
}
@media (max-width: 991px) {
	.artist_name{
		font-size: 24px;
	}
}