/*Footer*/
.footer{
	background-color: #f8f9fa;
	padding-top: 60px;
}
.logo-footer {
	width: 10px;
	height: 10px;
}
.fr-inflitem{
	list-style: none;
	line-height: 160%;
}
.fr-inf-title{
	font-size: 12px;
	font-weight: 600;
	color: #adb5bd;
}
.fr-influnit{
	color: #575d64;
	font-size: 13px;
}
.footer-infoblock{
	text-align: left;
}
.img-logocust{
	width: 100px;
	/*border: 1px solid black;*/
}
.footerinfo-block{
	background-color: #fff;
}
.footer-infoblock{
	text-align: left!important;
}
.footerinfobl-wrap{
	padding-top: 30px;
	padding-bottom: 60px;
}
.ftinfo-bl-copyright{
	color: #adb5bd;
	font-size: 13px;
}
.footer-socilamedia{
	list-style: none;
	display: inline-block;
	padding-right: 15px;
}
.footersocila-wrapper{
	text-align: right;
}
.facebook{
	width: 35px;
	height: 35px;
	background: url('../../assets/images/facebook.svg') scroll;
	background-repeat: no-repeat;
	background-size: cover;
}
.twiter{
	width: 35px;
	height: 35px;
	background: url('../../assets/images/twitter.svg') scroll;
	background-repeat: no-repeat;
	background-size: cover;
}
.youtube{
	width: 35px;
	height: 35px;
	background: url('../../assets/images/youtube.svg') scroll;
	background-repeat: no-repeat;
	background-size: cover;
}
.list-footer-middle{
	padding-left: 0px;
	margin-bottom: 20px;
	text-align: left;
}