
/*
/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;

}

/* ------------------- Carousel Styling ------------------- */



.carousel-caption {
  /*position: absolute;*/
  width: 300px;
  left: 100;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}


.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}
.slaider-bgimage {
  /*background-image: url(http://thelistenersclubsss.timothyjuddviolin.com/wp-content/uploads/sites/2/2017/01/CHOPIN.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 880px;
}
