@font-face {
  font-family: 'Georgia';
  src: url('./fonts/Georgia.ttf');
}


@font-face {
  font-family: 'Portrait';
  src: url('./fonts/Portrait-Regular2.otf');
}

@font-face {
  font-family: 'Portrait-Italic';
  src: url('./fonts/Portrait-Regular2Italic.otf');
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('./fonts/SuisseIntl-Regular.otf');
}
@font-face {
  font-family: 'SuisseIntl-Italic';
  src: url('./fonts/SuisseIntl-RegularItalic.otf');
}

@font-face {
  font-family: 'Grande Medium';
  src: url('./fonts/grande_medium.otf');
}

@font-face {
  font-family: 'Grande Regular';
  src: url('./fonts/grande_regular.otf');
}

html{
	width: 100%;
	height: 100%;
	min-width: 320px;
}

body{
	color:#4e555b;
	font-family: 'Grande Regular', sans-serif;
}
a{
	color:#4e555b;
}
a:hover{
	color:#4e555b;
}

ul{
	font-weight: initial;
}
.rc-calendar-input-wrap{
	display: none;
}

.rc-calendar-footer{
	display: none;
}

.rc-calendar-prev-year-btn{
	display: none;
}

.rc-calendar-next-year-btn{
	display: none;
}

/*Spinner*/
.react-spinner {
  position: relative;
  width: 82px;
  height: 82px;
  top: 50%;
  left: 50%;
}
img{
	width: 100%;
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}



.spinner_background{
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	background-color: white;
}
/*END Spinner*/

.about_lead{
	font-family: 'Grande Regular';
}

.header{
	/*background-image: url(http://via.placeholder.com/1440x820/000);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;*/
	padding-top: 30px;
	background:none;
	/*padding-bottom: 44%;*/
	/*height: 0;*/
	margin-bottom: 35px;
}

/*header*/

.header_top{
	position: relative;
	z-index: 999;
}

.header_top_left{
	float: left;
}

/*END header*/


/*content*/
.disctopMenuright{
	padding-top: 15px;
}

.content{
	margin-bottom: 50px;
}

.multimedia_button{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.modal-body{
	padding: 20px;
}

.player_button_close{
	position: absolute;
    right: 0;
    z-index: 1;
    padding: 5px;
    border: 0;
    background-color: white;
}

.player_button_close:hover{
    background-color: gray;
}
/*End content*/

.navfirst-elm{
	display: block !important;
	float: none !important;
	width: 100% !important;
}
.offset-elem{
	display: inline-block;
	border-bottom: 1px solid #fff;
	width: 33%;
	/*padding-bottom: 10px;*/
	/*margin-top: 25px;*/
}
.offset-unit{
	font-size: 29px;
	color: #fff;
	line-height: 90%;
	/*text-transform: lowercase;*/
}
.offset-unit:first-letter{
	text-transform: uppercase;
}
.offset-unit:hover{
	color:#fff;
}
.extraset-item{
	font-size: 24px;
}


.navel-item{
	border-bottom: 1px solid;
  border-color:rgba(255,255,255, 0.5);

	/*padding-right: 20px;*/
}
.navbar-default{
	border: none;
	background:none;
}

.navbar-default .navbar-nav > li > .navel-unit{
	/*font-size: 25px;*/

	font-size: 42px;
	color: #fff;
	padding: 0;
	padding-bottom: 5px;
	/*padding-right: 7px;*/
}
.navbar-nav > li{
  font-family: 'Portrait', sans-serif;
	float: none;
	display: inline-block;
}
.navbar-toggle{
	border: none;
}
.header-extentnav-holder{
	list-style: none;
	padding: 0;
}
.header-extendetnav-item{
	display: inline-block;
	float: none;
}
.header-extentnav-wrapper{
	padding-top: 50px;
	text-align: right;
}
.extendet-navigation{
	display: inline-block;
	list-style: none;
	/*padding-right: 15px;*/
	width: 35px;

}
.slider-rightelm{
	float: right;
}
.slider-leftelm{
	float: left;
}
.slider-leftelmitem{
	width: 50px;
}
.slider-rightelmitem{
	width: 50px;
}

.headerinfo-block{
	/*width: 332px;*/
	color:#fff;
	/*margin-top: -300px;*/
	/*margin-left: -180px;*/
	width: 100%;
	margin-top: -50%;
	margin-left: 0;
}
.headerinfo-title{
  font-family: 'Portrait', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color:#fff;
}
.headerinfo-content{
  font-family: 'Portrait-Italic', sans-serif;
	font-size: 42px;
	color:#fff;
	border-bottom: 1px solid #fff;
	display: inline-block;

}
.headerinfo-timeref{
  font-family: 'SuisseIntl', sans-serif;
	font-size: 16px;
	color:#fff;
}
.header-sliderbox{
	margin-top: 80px;
	margin-bottom: 210px;
	/*margin-right: 50px;*/
	/*margin-left: 50px;*/
}

.header-buttonscrl{
	width: 20px;
	height: 32px;
}
.middlepost-thumbnail{
	max-width: 350px;
	width: 100%;
}
.middlepost-titldesc{
  font-family: 'SuisseIntl', sans-serif;
	font-size: 14px;
	color:#495057;
	font-weight: 600;
}
.middlepost-titleitem{
  font-family: 'SuisseIntl', sans-serif;
	font-size: 24px;
	color:#495057;
	font-weight: 600;
	margin-bottom: 30px;
}
.middlepost-description{
  font-family: 'Georgia', sans-serif;
	font-size: 14px;
}
.middle{
	padding-top: 40px;
}
.heserscroll-button{
	margin-bottom: 30px;
}
.middle-thumbnailholder{
	margin-bottom: 20px;
}
.middle-postblock{
	text-align: left;
	color:#495057;
	/*margin-bottom: 80px;*/
	margin-bottom: 0px;
	/*max-width: 350px;*/
	display: inline-block;
	/*width: 100%;*/
	/*min-height: 853px;*/
	/*min-height: 700px;*/

}
.middle-addelem{
	margin-top: 20px;
	margin-bottom: 20px;
}
.load-element{
	background-color: #de6c6c;
	height: 6px;
	width: 100px;
}
/*Footer*/
.footer{
	background-color: #f8f9fa;
	padding-top: 60px;
}
.fr-inflitem{
	list-style: none;
	line-height: 160%;
}
.fr-inf-title{
	font-size: 12px;
	font-weight: 600;
	color: #adb5bd;

}
.fr-influnit{
  font-family: 'SuisseIntl', sans-serif;
	color: #575d64;
	font-size: 13px;
}
.footer-infoblock{
	text-align: left;
}
.img-logocust{
	width: 100px;
	/*border: 1px solid black;*/
}
.footerinfo-block{
	background-color: #fff;
}
.fr-inf-titleunit{

}
.fr-inf-title:hover{
	color:#495057 ;
	text-decoration: none;
}
.footerinfobl-wrap{
	padding-top: 30px;
	padding-bottom: 60px;
}
.ftinfo-bl-copyright{
	color: #adb5bd;
	font-size: 13px;
}
.footer-socilamedia{
	list-style: none;
	display: inline-block;
	padding-right: 15px;
}
.footersocila-wrapper{
	text-align: right;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
	width: 27px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background:none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border: none;
}

@media (max-width: 1260px){
	.offset-unit{
		font-size: 26px;
	}
	.headerinfo-content{
		font-size: 26px;
	}
	.list-group{
		display: none;
	}
	.fr-inf-title{
		color: #495057;
	}
}
@media (max-width: 771px){
/*	.col-centered{
	    float: none;
	    margin: 0 auto;
	}*/
	.footer-infoblock{
		/*text-align: center;*/
	}
	.offset-unit{
		font-size: 18px;
	}
	.headerinfo-content{
		font-size: 38px;
	}

	.mainmenu-list{
		display: none;
	}
	.header-extentnav-wrapper{
		padding-top: 0px;
	}
	.fr-inf-title{
		font-size: 22px;
	}
	.ftinfo-bl-copyright,
	.footersocila-wrapper{
		text-align: center;
		margin-bottom: 20px;
	}
	.logo-footer{
		margin:0 auto;
	}
	.offset-elem{
		width: 100%;
	}

}

@media (max-width: 500px){
	.headerinfo-content{
		font-size: 22px;
	}
	.headerinfo-block{
		margin-bottom: 60px;
	}

}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 5px;
        font-size: 18px;
    }
    .collapse.in{
        display:block !important;
    }


    .slider-leftelm,
    .slider-rightelm{
    	display: none;
    }
}


/*subpage_festival*/
.header-festival{
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding-top: 30px;
	background-color: #A78AC0;
}
.festivalpg-panelbox{
	display: inline-block;
	/*width: 280px;*/
	/*height: 215px;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/*display: none;*/
}

.festivalpg-panelholder{
	/*display: inline-block;*/
	float: left;
	width: 25%;
	height: 50%;
	border: 15px solid #A78AC0;
	position: relative;
	overflow-y: hidden;
}

.concurs-panels-holder{
	background-image: url("images/chopoin_bg_img.jpg");
	background-size: cover;
	background-position: top center;
	font-size: 0;
	height: 430px;

}
.festival-hover-mask{
	background: none;
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	display: none;
}
/*.festivalpg-paneldescriptoin{
	display: none;
}*/
.festivalpg-paneldescriptoin,
.festivalpg-paneltitle{
	color: #fff;
	position: relative;
	z-index: 9999;
	font-size: 18px;
}
.panel-menu-list {
  padding-left: 0px;
  color: #fff;
}

.festivalpg-paneldescriptoin{
  margin-left: 0px;
	font-size: 14px;
  color: #fff;
	width: 100%;
	display: none;
}
.festivalpg-paneltitle{
	font-size: 30px;
  color: #fff;
}
.fest-hover-desc{
	padding:20px;
  color: #fff;
}

@media (min-width: 416px){
	.festivalpg-panelholder:hover .festival-hover-mask,
	.festivalpg-panelholder:hover .festivalpg-paneldescriptoin{
		background-color: black;
		color: white;
		display: inline-block;
	}
}

.feivlal-falselement{
	background-color: #A78AC0;
	display: none;
}
@media (max-width: 708px) {
	.feivlal-falselement{
		display: inline-block
	}
	.festivalpg-panelholder{
		width: 33.333%;
		height: 33.333%;
		border: 4px solid #A78AC0;
	}


}

@media (max-width: 416px) {
	.festival-hover-mask{
		display: none;
	}
	.festivalpg-panelbox{
		display: inline-block;
	}
	.festivalpg-panelholder{
		width: 100%;
		height: auto;
		border: none;
	}
	.concurs-panels-holder{
		height: auto;
	}
	.festivalpg-paneldescriptoin{
		display: none;
		/*width: 100%;*/
		padding-left: 20px;

	}
	.fest-hover-desc{
		padding:0px 15px 0 25px;
	}
}
/*END subpage_one*/

/*Global Header*/

.gb-offset-elem{
	display: inline-block;
	display: inline-block;
	/*width: 33%;*/
	/*padding-bottom: 10px;*/
	margin-top: 25px;
	margin-right: 10px;
}

/*.gb-offset-elem:hover{
	border-bottom: 1px solid #fff;
}*/
.gb-navfirst-elm{
	/*display: block !important;
	float: none !important;
	width: 100% !important;*/
}


.gb-offset-unit{
	font-size: 22px;
	color: #fff;
	line-height: 90%;
	font-weight: 300;
}
.gb-offset-unit:hover{
	color:#fff;
}
.custom-set{
	float: right;
}

.custom-gb-fluid{
	padding: 0;
	text-align: center;
}
.gb-navbar-collapse{
	padding: 0;
}

.navbar-nav > li:last-child > .navel-unit{
	padding-right: 0;
}

.gb-extentnav-wrapper{
	padding-top: 20px;
	text-align: right;
}
.gb-pointholder{
	display: inline-block;
	background-color: #fff;
	width: 8px;
	height: 8px;
	border-radius: 25px;
	/*margin: 0 5px;*/
}
.gb-offset-extended{
	margin-top: 16px;
	margin-right: 10px;
	vertical-align: top;
}

.gb-parentpanel-hoder{
	position: relative;
	height: 0px;
	padding-bottom: 41%;
}
.panels-holder-desctopset{
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
}

.gb-footer-menu{
	width: 20%;
	float: right;
	display: inline-block;
	text-align: right;
}
.gb-img-logocust-footer{
	width: 100px;
}
.footer-extend{
	margin-bottom: 30px;
}
.artists-pageTitle{
	font-family: 'Grande Medium', sans-serif;
	font-weight: 400;
	font-style: normal;
}
@media(max-width: 1258px){
	.footer-infoblock{
		text-align: center;
	}
}
@media (max-width: 999px) {
	.gb-navbar-collapse{
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-nav > li{
		display: inline-block;
	}
	/*.navbar-nav > li:last-child > .navel-unit{
		padding-right: 7px;
	}*/
}
.festivalpg-panelholder-mask{
	position: absolute;
	background-color: rgba(167, 138, 192, 0.52);
	width: 100%;
	height: 100%;
	z-index: 0;
}
@media (max-width: 708px) {
	.concurs-panels-holder{
		/*height: 618px;*/
		/*height: 200%;*/
	}
	.gb-parentpanel-hoder{
		padding-bottom:100%;
	}
		.header-festival{
		padding-top: 10px;
	}
	.gb-extentnav-wrapper{
		padding-top: 0px;
	}
	.img-logocust{
		width: 50px;
	}
	.navbar-toggle{
		padding-right: 0;
		margin-right: 0;
	}

}

@media (max-width: 771px) {
	.gb-footer-menu{
		width: auto;
		display: block;
		text-align: right;
		float: none;
	}
	.fr-inf-title{
		font-size: 18px;
	}
}

@media (max-width: 416px){
	.col-xs-6{
		width: 100%;
	}
	.panels-holder-desctopset{
		position: static;
	}
	.gb-parentpanel-hoder{
		height: unset;
		padding-bottom: 0;
		margin-bottom: -20px;
	}

}
.carousel-control{
	z-index: 9999999;
}
/*end Global Header*/

/* ------------------- Carousel Styling ------------------- */

.roller {
  position:absolute;
  z-index: 999;
  /*margin-top: 42%;*/
  left: 50%;
  top: 91%;
}
.rollerPointer{
	width: 20px;
	cursor:pointer;
}

/* Makes images fully responsive */

/*.img-responsive,*/
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 60px;
  height: 60px;
}
.carousel-control {
	width: 60px;
	height: 60px;
	background: none !important;
	background-image: none;
	margin: 10%;
	vertical-align: middle;
	padding-top: 15%;
}
/*.carousel-control.left {
	background-image: none;
	margin-left: 10%;
}
.carousel-control.right {
	background-image: none;
	margin-right: 10%;
}*/
.karuzela {
	position: absolute;
	/*z-index: 9999;*/
	top: 0px;
}
/*.karuzela img {
	width: 60px;
	height: 60px;
}*/

.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}


.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}
.slaider-bgimage {
  /*background-image: url(http://thelistenersclub.timothyjuddviolin.com/wp-content/uploads/sites/2/2017/01/CHOPIN.jpg);*/
  /*background-image: url(images/chopin_1800x890.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /*height: 820px;*/
  position: absolute;
  height: 100%;
  top: 0;
}
.carousel-inner > .item{
	/*position: relative;*/
	padding-bottom: 47%;
	height: 0;
}

/*.carousel-control.right,
.carousel-control.left{
	padding-top: 15%;
}*/
.carousel-inner > .item{
	margin:0;
}
body{
	background-image: url("/images/glowna-desktop.png") !important;
}
@media (max-width: 1000px) {
	.carousel{
		display: none;
	}
	.header{
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url("/static/media/chopin_1800x890.ba8bf2c7.jpg");
		background-position: center;
		min-height: 400px;
	}
	.roller{
		top: 330px
	}

}
@media (max-width: 771px){
	.fr-inflitem{
		display: none;
	}
}