.header.big_menu{
	background-image: none;
}


@media (max-width: 680px) {
	.header.big_menu .festivalpg-paneltitle{
		font-size: 18px;
	}
}
@media (max-width: 416px){
	.header.big_menu .big_menutopwrapper{
		    background-image: url(/static/media/chopoin_bg_img.56506101.jpg);
		    background-size: cover;
		    background-position: top center;
		    font-size: 0;
		    height: 100%;
		    position: relative;
	}
	.header.big_menu .big_menumask{
		position: absolute;
		background-color: rgba(167, 138, 192, 0.52);
		width: 100%;
		z-index: 0;
		height: 100%;
		display: inline-block;
	}
	.header.big_menu{
		min-height: auto;
	}
}