.about_title{
	font-family: Portrait-Regular2;
	font-size: 48px;
}
.about_lead {
	font-family: SuisseBPIntl-Antique;
	font-size: 16px;
	display: inline;
	position: absolute;
	bottom: 0;
	width: 80%;
	background-color: #fff;
	font-weight: 600;
	padding-top: 15px;
	padding-right: 10px;
	z-index: 999;
}
.about_img{
	/*max-width: 800px;*/
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.about_text {
	font-size: 16px;
	background-color: white;
	padding-top: 15px;
}

.about .right{
	margin-top: 400px;
}
.aboutTopWrapper{
	position: absolute;
	right: 0;
	width: 100%;
	max-width: 65%;
}
.extended-box{
	position: static;
}

.content{
	overflow-x: hidden;
}
.about-topbanner-box{
	height: 350px;
	width: 150%;
}

.about-topbanner-text{
	position: absolute;
	bottom: 0;
    height: 40%;
    z-index: 1;
    font-family: SuisseBPIntl-Antique;
	font-size: 16px;
	display: inline;
	width: 60%;
	background-color: #fff;
	font-weight: 600;
	padding-top: 15px;
	padding-right: 10px;
	
}

.about_img_block{
	background-repeat: no-repeat;
	position: relative;
	/*height: 330px;*/
	width: 100%;
	height: 100%;
	float: left;
	background-size: cover;
	background-position: center center;
	padding-bottom: 30%;
}
.about-topbanner{
	padding-bottom: 45%;
}
.about-grightMenu{
	list-style: none;
	font-size: 16px;
	font-weight: 600;
}
.about-colorbox{
	width: 100%;
	height: 18px;
	background-color: #a78ac0;
	position: absolute;
	bottom: 0;
	z-index: 0;
}
.about-content{
	margin-left: -15px;
}
.mobile_lead{
	/*display: none;*/
	/*margin-top: -120px;
	padding-top: 10px;
    min-height: 120px;*/
    width: 120%;
    font-family: SuisseBPIntl-Antique;
	font-size: 16px;
	font-weight: 600;
	position:relative;
}
.mobile_lead_inner{
	position: absolute; 
	bottom: 0;
	background-color: white;
	padding-top: 10px;
    padding-right: 10px;
}
.mobileMenu{
	display: none;
}
.mobileMenu .about-grightMenu{
	margin: 13px 0;
}

@media (max-width: 1675px) {
	.aboutTopWrapper{
		max-width: 68%;
	}
}
@media (max-width: 993px) {
	.about-topbanner-box{
		height: 350px;
		width: 100%;

	}
	.about-content{
		margin-left: 0px;
	}
	.mobile_lead{
		/*display: none;*/
		margin-top: 0px;
	    /* left: 0px; */
	    width: 100%;
	    font-family: SuisseBPIntl-Antique;
		font-size: 16px;
		padding-bottom: 20px;
		padding-top: 20px;
		background-color: #fff;
		font-weight: 600;

	}
	.about-colorbox{
		display: none;
	}
	.about_img_block {
	    background-repeat: no-repeat;
	    position: relative;
	    /* height: 330px; */
	    margin-left: -15px;
	    width: 105%;
	    height: 100%;
	    float: left;
	    background-size: cover;
	    background-position: center center;
	    padding-bottom: 30%;
	}
	.aboutTopWrapper{
		max-width: 97%;
		left: 0px;
		right: 0px;
		margin: 0px auto;
	}
	.about_lead{
		font-size: 14px;
	}
	.left-menuItem{
		display: inline-block;
		margin:0 5px;
	}
	.about-content{
		padding:0;
	}
	.extended-box{
		padding: 0;
	}
	.aboutcont-wrapper{
		width: 100%;
	}
	.right{
		display: none;
	}
}
@media (max-width: 770px){
	.mobile_lead{
		font-weight: 600;
		display: block;
	}
	.about_lead{
		display: none;
	}
	.mobileMenu{
		display: block;
	
	} .about-grightMenu{
		margin: 13px 0;
	}
	.disctopMenuright{
		display: none;
	}
	.about_img_block{
		padding-bottom: 41%;
	}
	.header.small_menu .img-logocust{
		margin-bottom: 20px;
	}
}