.MultimediaItem .pageTitle{
	font-size: 400;
}

.MultimediaItem img {
	width: 100px;
	/*padding-top: 5px;
	padding-right: 5px;*/
}

.MultimediaItem .images{
	margin: 0px;
}

.MultimediaItem .line{
	border-bottom: grey 1px;
	width: 100%;
	margin-top: 15px;
    margin-bottom: 15px;
}
